doctype html
html
  head
    title TYCC
    link(rel='stylesheet', href='stylesheets/main.css')
    script(data-main='javascripts/login', src='/javascripts/require.js')
  body
    div(class="wrapper")
      div(class="index_btn")
        ul
          li
            a(href="/show_question",class="btn_primary") 查看题目
          li
            a(href="/add",class="btn_primary") 添加题目
          li
            a(href="/exam",class="btn_primary") 模拟测验