doctype html
html
  head
    title TYCC
    link(rel='stylesheet', href='stylesheets/main.css')
    script(data-main='javascripts/login', src='/javascripts/require.js')
  body
    include nav
    div(class="wrapper")
      p=questions